
@import '../../scss/vars.scss';


.klaviyoBackInStock {
    background: rgba($color: #efefef, $alpha: .8);
    padding: 15px 10px;
    border-radius: 6px;
    p {
        margin-top: 0;
    }
    .nope {
        color: red;
    }
    .displayBlock {
        input, label {
            display: block;
        }
        input {
            width: 100%;
            border-radius: 6px;
            border: 1px solid #ccc;
            padding: 4px 8px;
        }
        label {
            position: absolute;
            left: -999em;
        }
    }
    .buttonHolder {
        margin-top: 5px;
        button, div.button {
            border: none;
            background-color: $ob-blue;
            color: #fff;
            display: inline-block;
            padding: 4px 8px;
            border-radius: 6px;
        }
        button:hover {
            background-color: $ob-btblue;
        }
    }
}
main {
    .klaviyoBackInStock {
        p {
            margin-bottom: 10px;
        }
    }
}

