
@import '../../../scss/vars.scss';

.factsheet-item {
    border: 2px solid;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    padding: 15px 20px;
    margin-bottom: 25px;

    a:link,
    a:active,
    a:visited {
        color: $ob-blue;
    }
}
.factsheet-item__title {
    font-weight: bold;
}

.factsheet-item.theme--warning .factsheet-item__content {
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='73' viewBox='0 0 75 73'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFCC33;%7D .st1%7Bfill:none;stroke:%23000000;stroke-width:6;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bfont-family:&%2339;Calibri&%2339;;%7D .st3%7Bfont-size:36px;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='3 59.9 32.3 3 61.6 59.9 '/%3E%3Cpolygon class='st1' points='3 59.9 32.3 3 61.6 59.9 '/%3E%3Ctext transform='matrix(1 0 0 1 25.5601 52.8297)' class='st2 st3'%3E !%3C/text%3E%3C/svg%3E");
    min-width: 81px;
    min-height: 77px;
    padding-left: 81px;
    padding-top: 87px;
    padding-top: 0;
}
