$font-family: "Roboto", sans-serif;
$bebas: "bebas_neueregular";
$font-path: "../assets/fonts"; 
$roboto: "Roboto", sans-serif;
$kaushan: "Kaushan Script", cursive;

@font-face {
  font-family: $bebas;
  src: url("#{$font-path}/bebasneue-webfont.woff2") format("woff2"),
    url("#{$font-path}/bebasneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

html,
body {
  font-family: $roboto !important;
  font-weight: 300;
}
// body {
//   font-size: 18px;
//   line-height: 1.5;
// }
h1,
h2,
h3,
h4,
h5 {
  font-family: $bebas;
  line-height: 1 !important;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 0;
}

strong {
  font-weight: 700;
}

h1,
h2 {
  font-size: 2em;
  @media screen and (min-width: $screen-md) {
    font-size: 2.4em;
  }
}

h3 {
  font-size: 1.6em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.9em;
  }
}

h4 {
  font-size: 1.2em;
  @media screen and (min-width: $screen-md) {
    font-size: 1.6em;
  }
}

h5 {
  font-size: 1em;
}

p,
.p {
  margin: 1.5em 0;
  line-height: 1.3;
}

.ms-buybox__product-title {
  line-height: 1.1;
}

.msc-product__title {
  line-height: 1.2;
}

h1.container-heading::after,
h2.container-heading::after {
  display: block;
  content: "";
  height: 4px;
  width: 80%;
  background: $ob-blue;
  margin-top: 10px;
}
main {
  button {
    border-radius: 6px !important;
    border: 2px solid $darkGray;
    background-color: $ob-ltltgray;
    transition: all .3s ease;
    font-family: $bebas !important;
    font-size: 1.2em;
  }
  
  button:hover {
    background-color: $ob-blue;
    color: #fff;
  }
}

h1.siteTitle {
  position: relative;
  display: inline-block;
  &::after {
    display: block;
    content: "";
    height: 4px;
    width: 80%;
    background: $ob-blue;
    margin-top: 10px;
  }
}
