.wholeHeader {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.topHeader {
    background-color: $ob-blue;
    padding: 2px 10px;
}

.mainTitle {
    position: absolute;
    left: -9999em;
}

button.cartIcon, a.cartIcon {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    right: 5px;
    top: 2px;
    padding: 1px 4px;
    .iconBag {
        fill: #fff;
    }
    .tbd {
        background-color: $ob-orange;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 1px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        position: absolute;
        right: -4px;
        top:0;
        font-family: $roboto;
    }
}

.pinLogo {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 10;
    .logoLink {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        left: 18px;
        top: 8px;
        .obrienLogo {
            fill: #fff;
        }
    }
}

.promo-banner {
    color: #fff;
    font-weight: 400;
    font-size: .9em;
}

.lowerHeader {
    background: rgba($color: #fff, $alpha: .5);
    width: 100%;
    transition: background .3s ease;
    svg {
        display: block;
        position: relative;
        top: 3px;
        .darkGray {
            color: $darkGray;
        }
    }
}



.obrienMainLogoLink {
    display: block;
    flex: 0 0 200px;
    @media screen and (min-width: $screen-md) {
        flex: 0 0 230px;
    }
    padding: 10px;
}

.search {
    display: none;
    @media screen and (min-width: $screen-md) {
        flex: 0 0 230px;
        display: block;
    }
    padding: 10px;
}


.lowerHeader.active {
    background: rgba($color: #fff, $alpha: .8);
    @media screen and (min-width: $screen-md) {
        position: fixed;
        width: 100%;
        top: 0;
    }
    
}


.secondTrigger {
    position: absolute;
    top: 140px;
    left: -999em;
}

.obrienSearchContainer {
    display: none;
    @media screen and (min-width: $screen-md) {
        padding-right: 16px;
        display: flex;
    }
}

.obrienSearch {
    display: flex;
    input[type="search"], input.searchLike {
        background-color: $ob-hdgray !important;
        border: 0;
        padding: 8px !important;
        color: #fff;
    }
    input[type="search"]:focus-visible {
        border: none;
        border-radius: 0;
    }
    button[type="submit"] {
        margin: 0;
        padding: 0;
        border: none;
        background-color: $ob-dkgray;
        border-radius: 0 !important;
        svg {
            width: 44px;
            box-sizing: border-box;
            padding: 8px;
            top: auto;
            fill: #fff;
        }
    }
    .emailInput {
        input.searchLike {
            height: 100%;
            border-radius: 0 !important;
            border: none !important;
        }
        input.searchLike:focus-visible {
            outline: none;
        }
    }
    .buttonHolder {
        button {
            min-width: 48px;
            height: 48px;
            color: #fff;
            background-color: $ob-dkgray;
            border-radius: 0 !important;
            border: 0;
        }
    }
}

.formControl {
    .buttonHolder {
        margin-top: 10px;
        button {
            min-width: 100px;
            height: 48px;
            padding: 0 5px;
            background-color: $ob-ltltgray;
            border: 2px solid $ob-blue;
        }
        button:hover {
            background-color: $ob-blue;
        }
    }
    margin-bottom: 10px;
}

.emailInput {
    .searchLike{
        min-width: 300px;
        height: 48px;
    }
    .searchLike:focus-visible {
        outline: 2px solid $ob-blue;
    }
}

.createAccount, .emailError {
    margin: 10px 0;
}

.emailError {
    width: 100%;
    color: red;
    font-size: .9em;
}

.wrapThis {
    flex-wrap: wrap;
}

.marginBottom {
    margin-bottom: 10px;
}