.catalogIframe {
    width:100%; min-height: 900px;
}


// home page 

.video-contain {
    position: relative;
    width: 100%;
    height: 600px;
    @media screen and (min-width: $screen-md) {
        height: 85vh;
    }
     
   
    
}
video,
.videoImage {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    @media screen and (min-width: $screen-md) {
        height: 85vh;
    }
}

form {
    textarea.form-control {
        min-height: 200px;
    }
}
