@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.obrienGallery {
    @media screen and (min-width: $screen-md) {
        width: 70%;
    }
}

.slick-slider {
    padding-bottom: 40px;
}

.slick-next:before, .slick-prev:before {
    color: $ob-blue;
    font-size: 30px;
    
}

.slick-prev {
    left: -35px;
    z-index: 100;
    bottom: -10px;
    top: auto;
    width: 30px;
    height: 30px;
    margin-left: 50%;
}
.slick-next {
    right: -35px;
    z-index: 100;
    bottom: -10px;
    top: auto;
    width: 30px;
    height: 30px;
    margin-right: 50%;
}